@import '../mediaQuery';
.container {
  display: flex;
  align-items: flex-start;
  padding: 50px;

  &.none {
    display: none;
  }

  @include mobile {
    padding: 30px;
  }
}

.quotes {
  display: flex;
  width: 40%;
  flex-direction: column;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    font-size: 0.5em;
  }
}

.refreshbutton {
  object-fit: contain;

  &:hover {
    cursor: pointer;
  }
}
