@import '../style.global';

.container {
  display: flex;
  padding: 50px;
  align-items: flex-end;
  margin-top: auto;

  @include tablet {
    flex-direction: column;
    align-items: baseline;
  }
  @include mobile {
    padding: 30px;
  }

  &.none {
    flex: 1 1 30%;
    justify-content: flex-end;
  }
}

.togglebutton {
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  color: #2a2a2a;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    margin-top: 30px;
  }

  &:hover {
    cursor: pointer;
  }

  & > img {
    transform: rotateX(180deg);
  }

  &.active > img {
    transform: rotateY(180deg);
  }
}

.clock {
  font-size: 150px;
  font-weight: 600;
  margin-right: auto;
  margin-bottom: 0;

  @include mobile {
    font-size: 50px;
  }
}

.word {
  font-size: 1em;

  @include mobile {
    font-size: 0.5em;
  }
}
